name: CI workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: python:3.9-slim

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          python -m ensurepip --upgrade
          python -m pip install --upgrade pip setuptools wheel
          pip install --no-cache-dir -r requirements.txt
          pip install flake8 nose

      - name: Lint with flake8
        run: |
            flake8 service \
                --count \
                --select=E9,F63,F7,F82 \
                --max-line-length=127 \
                --max-complexity=10 \
                --show-source \
                --statistics


      - name: Run tests with nose
        run: |
          nosetests -v --with-spec --spec-color --with-coverage --cover-package=app


        